<section>
    <div>
        <div>
            <h3>Post #<%= @post.id%> by <%=@post.author.name %></h3>
            <%= render 'shared/comments_likes', post:@post%>
        </div>

        <p><%= @post.text %></p>
    </div>

    <div>
        <%= render 'shared/name_comment', comments: @post.comments %>
    </div>
</section>
